<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
    <script>
        $(document).ready(function(){
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {  
                    type: 'line',
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: 'Avalanche Effect',
                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 1,
                            fill : "true"
                        }]
                    },
                    options: {
                        events: ['click'],
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                            x: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            })

    </script>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/result/">Result</a>
      </li>
    </ul>
   </div>
</nav>
    <div class="container center">
        <div class="card  text-center border-success mb-3" align="center">
                <div class="card-header">
                Enter data
            </div>
            <div class="card-body">
            <form  method="post" >
                {% csrf_token %}
                  <div class="col">
                      {{form.rounds}}
                    <!-- <label for="validationServer01">First name</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required> -->
                    <div class="invalid-feedback">
                        {{form.rounds.errors}}
                    </div>
                  </div>
                  
                  <div class="col">
                    {{form.length}}
                    <!-- <label for="validationServer02">Last name</label>
                    <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required> -->
                    <div class="invalid-feedback">
                        Please select length of block
                    </div>
                  </div>

                
                {% comment %} <div class="form-row" id="a"> {% endcomment %}
                    <div class="col">
                      {{form.block}}
                    </div>
                    <div class="invalid-feedback">
                      Please select an option
                    </div>
                    <div class="col">
                        {{form.key}}
                    </div>
                {% comment %} </div> {% endcomment %}
        
                {% comment %} <div class="form-row"> {% endcomment %}
                  <div class="col">
                    {{form.option}}
                    <div class="invalid-feedback">
                      Please select an option
                    </div>
                  </div>
                  {% comment %} <div class="col">

                  </div> {% endcomment %}
                {% comment %} </div> {% endcomment %}
                <div class="col"><button class="btn btn-primary" type="submit" id="z">Check</button></div>
                
            </form>
            </div>
        </div>
        
            <div class="center">
                <h2>Output</h2>
                <div class="form-row">
                    <div class="col">
                        <h4>Effective Key</h4>
                    </div>
                    <div class="col">
                        {{key_eff}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <h4>Changed text</h4>
                    </div>
                    <div class="col">
                        {{alter}}
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Round number</th>
                        <th scope="col">Number of bits changed in plaintext</th>
                        <th scope="col">Round Keys</th>
                      </tr>
                    </thead>
                    {% for item1,item2 in output %}
                    <tbody>
                      <tr>
                        <th scope="row">{{forloop.counter0}}</th>
                        <td>{{item1}}</td>
                        <td>{{item2}}</td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
            </div>
        <div class="center">
               <canvas id="myChart"></canvas>
        </div>
    </div>

</body>
</html>